## Settings file was created by plugin PerformanceTracker v1.0.3
## Plugin GUID: Azumatt.PerformanceTracker

[1 - General]

## Key to enable and disable the plugin.
# Setting type: KeyboardShortcut
# Default value: U + LeftShift
Toggle counter and reset stats = U + LeftShift

## Monitor performance statistics and show them on the screen. When disabled the plugin has no effect on performance.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enable = On

## Count time each plugin takes every frame to execute. Only detects MonoBehaviour event methods, so results might be lower than expected. Has a small performance penalty.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enable monitoring plugins = On

## Show how much time was spent by Unity in each part of the frame, for example how long it took to run all Update methods.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Show detailed frame stats = On

[General]

## Show memory usage of the process, free available physical memory and garbage collector statistics (if available).
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Show memory and GC stats = On

[Interface]

## Which corner of the screen to display the statistics in.
# Setting type: TextAnchor
# Default value: LowerRight
# Acceptable values: UpperLeft, UpperCenter, UpperRight, MiddleLeft, MiddleCenter, MiddleRight, LowerLeft, LowerCenter, LowerRight
Screen position = LowerRight

## Color of the displayed stats. Outline has a performance hit but it always easy to see.
# Setting type: CounterColors
# Default value: White
# Acceptable values: White, Black, Outline
Color of the text = White

