## Settings file was created by plugin CookingAdditions v1.0.8
## Plugin GUID: blacks7ar.CookingAdditions

[1- ServerSync]

## If On, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[Boiled Egg]

## Health amount added to max health. [Synced with Server]
# Setting type: Single
# Default value: 30
Food = 30

## Stamina amount added to max stamina [Synced with Server]
# Setting type: Single
# Default value: 22
Food Stamina = 22

## Eitr amount added to max eitr. [Synced with Server]
# Setting type: Single
# Default value: 0
Food Eitr = 0

## Food duration. [Synced with Server]
# Setting type: Single
# Default value: 1800
Food Burn Time = 1800

## Health regen. [Synced with Server]
# Setting type: Single
# Default value: 2
Food Regen = 2

## Enable/Disables recipe. (Needs Logout) [Synced with Server]
# Setting type: Boolean
# Default value: true
Recipe = true

## Craft amount (Needs Logout) [Synced with Server]
# Setting type: Int32
# Default value: 5
Craft Amount = 5

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: ChickenEgg:5
Required Material 1 = ChickenEgg:5

[Chicken Soup]

## Health amount added to max health. [Synced with Server]
# Setting type: Single
# Default value: 60
Food = 60

## Stamina amount added to max stamina [Synced with Server]
# Setting type: Single
# Default value: 60
Food Stamina = 60

## Eitr amount added to max eitr. [Synced with Server]
# Setting type: Single
# Default value: 0
Food Eitr = 0

## Food duration. [Synced with Server]
# Setting type: Single
# Default value: 1800
Food Burn Time = 1800

## Health regen. [Synced with Server]
# Setting type: Single
# Default value: 5
Food Regen = 5

## Enable/Disables recipe. (Needs Logout) [Synced with Server]
# Setting type: Boolean
# Default value: true
Recipe = true

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: CookedChickenMeat:2
Required Material 1 = CookedChickenMeat:2

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Dandelion:8
Required Material 2 = Dandelion:8

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Onion:4
Required Material 3 = Onion:4

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Mushroom:6
Required Material 4 = Mushroom:6

[Chili Pepper]

## Health amount added to max health. [Synced with Server]
# Setting type: Single
# Default value: 22
Food = 22

## Stamina amount added to max stamina [Synced with Server]
# Setting type: Single
# Default value: 22
Food Stamina = 22

## Eitr amount added to max eitr. [Synced with Server]
# Setting type: Single
# Default value: 0
Food Eitr = 0

## Food duration. [Synced with Server]
# Setting type: Single
# Default value: 900
Food Burn Time = 900

## Health regen. [Synced with Server]
# Setting type: Single
# Default value: 1
Food Regen = 1

[Cooking Pot]

## Item name : amount : recover (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Copper:3:true
Required Material 1 = Copper:3:true

## Item name : amount : recover (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Tin:12:true
Required Material 2 = Tin:12:true

[Fish Soup]

## Health amount added to max health. [Synced with Server]
# Setting type: Single
# Default value: 50
Food = 50

## Stamina amount added to max stamina [Synced with Server]
# Setting type: Single
# Default value: 50
Food Stamina = 50

## Eitr amount added to max eitr. [Synced with Server]
# Setting type: Single
# Default value: 0
Food Eitr = 0

## Food duration. [Synced with Server]
# Setting type: Single
# Default value: 1800
Food Burn Time = 1800

## Health regen. [Synced with Server]
# Setting type: Single
# Default value: 3
Food Regen = 3

## Enable/Disables recipe. (Needs Logout) [Synced with Server]
# Setting type: Boolean
# Default value: true
Recipe = true

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: FishCooked:3
Required Material 1 = FishCooked:3

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: BCA_Tomato:4
Required Material 2 = BCA_Tomato:4

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Onion:2
Required Material 3 = Onion:2

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Mushroom:6
Required Material 4 = Mushroom:6

[Griller]

## Item name : amount : recover (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Copper:12:true
Required Material 1 = Copper:12:true

## Item name : amount : recover (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Tin:8:true
Required Material 2 = Tin:8:true

## Item name : amount : recover (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Coal:10:true
Required Material 3 = Coal:10:true

[Large Meat Griller]

## Item name : amount : recover (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Copper:18:true
Required Material 1 = Copper:18:true

## Item name : amount : recover (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Tin:12:true
Required Material 2 = Tin:12:true

## Item name : amount : recover (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Coal:16:true
Required Material 3 = Coal:16:true

[Meat Soup]

## Health amount added to max health. [Synced with Server]
# Setting type: Single
# Default value: 40
Food = 40

## Stamina amount added to max stamina [Synced with Server]
# Setting type: Single
# Default value: 40
Food Stamina = 40

## Eitr amount added to max eitr. [Synced with Server]
# Setting type: Single
# Default value: 0
Food Eitr = 0

## Food duration. [Synced with Server]
# Setting type: Single
# Default value: 1800
Food Burn Time = 1800

## Health regen. [Synced with Server]
# Setting type: Single
# Default value: 3
Food Regen = 3

## Enable/Disables recipe. (Needs Logout) [Synced with Server]
# Setting type: Boolean
# Default value: true
Recipe = true

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: CookedMeat:2
Required Material 1 = CookedMeat:2

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: CookedDeerMeat:2
Required Material 2 = CookedDeerMeat:2

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Onion:4
Required Material 3 = Onion:4

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Mushroom:6
Required Material 4 = Mushroom:6

[Spicy Meat Platter]

## Health amount added to max health. [Synced with Server]
# Setting type: Single
# Default value: 86
Food = 86

## Stamina amount added to max stamina [Synced with Server]
# Setting type: Single
# Default value: 48
Food Stamina = 48

## Eitr amount added to max eitr. [Synced with Server]
# Setting type: Single
# Default value: 0
Food Eitr = 0

## Food duration. [Synced with Server]
# Setting type: Single
# Default value: 1800
Food Burn Time = 1800

## Health regen. [Synced with Server]
# Setting type: Single
# Default value: 5
Food Regen = 5

## Enable/Disables recipe. (Needs Logout) [Synced with Server]
# Setting type: Boolean
# Default value: true
Recipe = true

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: CookedWolfMeat:2
Required Material 1 = CookedWolfMeat:2

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: CookedMeat:2
Required Material 2 = CookedMeat:2

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: CookedDeerMeat:2
Required Material 3 = CookedDeerMeat:2

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: BCA_ChiliPepper:12
Required Material 4 = BCA_ChiliPepper:12

[Spicy Meat Supreme]

## Health amount added to max health. [Synced with Server]
# Setting type: Single
# Default value: 72
Food = 72

## Stamina amount added to max stamina [Synced with Server]
# Setting type: Single
# Default value: 46
Food Stamina = 46

## Eitr amount added to max eitr. [Synced with Server]
# Setting type: Single
# Default value: 0
Food Eitr = 0

## Food duration. [Synced with Server]
# Setting type: Single
# Default value: 1800
Food Burn Time = 1800

## Health regen. [Synced with Server]
# Setting type: Single
# Default value: 5
Food Regen = 5

## Enable/Disables recipe. (Needs Logout) [Synced with Server]
# Setting type: Boolean
# Default value: true
Recipe = true

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: CookedMeat:6
Required Material 1 = CookedMeat:6

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Onion:4
Required Material 2 = Onion:4

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: BCA_Tomato:4
Required Material 3 = BCA_Tomato:4

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: BCA_ChiliPepper:8
Required Material 4 = BCA_ChiliPepper:8

[Spicy Serpent Meat]

## Health amount added to max health. [Synced with Server]
# Setting type: Single
# Default value: 85
Food = 85

## Stamina amount added to max stamina [Synced with Server]
# Setting type: Single
# Default value: 85
Food Stamina = 85

## Eitr amount added to max eitr. [Synced with Server]
# Setting type: Single
# Default value: 0
Food Eitr = 0

## Food duration. [Synced with Server]
# Setting type: Single
# Default value: 1800
Food Burn Time = 1800

## Health regen. [Synced with Server]
# Setting type: Single
# Default value: 4
Food Regen = 4

## Enable/Disables recipe. (Needs Logout) [Synced with Server]
# Setting type: Boolean
# Default value: true
Recipe = true

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: SerpentMeatCooked:1
Required Material 1 = SerpentMeatCooked:1

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: BCA_Tomato:4
Required Material 2 = BCA_Tomato:4

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Mushroom:6
Required Material 3 = Mushroom:6

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: BCA_ChiliPepper:8
Required Material 4 = BCA_ChiliPepper:8

[Sweet N Spicy Fish]

## Health amount added to max health. [Synced with Server]
# Setting type: Single
# Default value: 65
Food = 65

## Stamina amount added to max stamina [Synced with Server]
# Setting type: Single
# Default value: 65
Food Stamina = 65

## Eitr amount added to max eitr. [Synced with Server]
# Setting type: Single
# Default value: 0
Food Eitr = 0

## Food duration. [Synced with Server]
# Setting type: Single
# Default value: 1800
Food Burn Time = 1800

## Health regen. [Synced with Server]
# Setting type: Single
# Default value: 3
Food Regen = 3

## Enable/Disables recipe. (Needs Logout) [Synced with Server]
# Setting type: Boolean
# Default value: true
Recipe = true

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: FishCooked:2
Required Material 1 = FishCooked:2

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Raspberry:12
Required Material 2 = Raspberry:12

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: BCA_Tomato:4
Required Material 3 = BCA_Tomato:4

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: BCA_ChiliPepper:8
Required Material 4 = BCA_ChiliPepper:8

[Tomato]

## Health amount added to max health. [Synced with Server]
# Setting type: Single
# Default value: 16
Food = 16

## Stamina amount added to max stamina [Synced with Server]
# Setting type: Single
# Default value: 16
Food Stamina = 16

## Eitr amount added to max eitr. [Synced with Server]
# Setting type: Single
# Default value: 0
Food Eitr = 0

## Food duration. [Synced with Server]
# Setting type: Single
# Default value: 600
Food Burn Time = 600

## Health regen. [Synced with Server]
# Setting type: Single
# Default value: 1
Food Regen = 1

[Tomato Soup]

## Health amount added to max health. [Synced with Server]
# Setting type: Single
# Default value: 35
Food = 35

## Stamina amount added to max stamina [Synced with Server]
# Setting type: Single
# Default value: 35
Food Stamina = 35

## Eitr amount added to max eitr. [Synced with Server]
# Setting type: Single
# Default value: 0
Food Eitr = 0

## Food duration. [Synced with Server]
# Setting type: Single
# Default value: 1800
Food Burn Time = 1800

## Health regen. [Synced with Server]
# Setting type: Single
# Default value: 2
Food Regen = 2

## Enable/Disables recipe. (Needs Logout) [Synced with Server]
# Setting type: Boolean
# Default value: true
Recipe = true

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: DeerMeat:1
Required Material 1 = DeerMeat:1

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: BCA_Tomato:8
Required Material 2 = BCA_Tomato:8

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Raspberry:12
Required Material 3 = Raspberry:12

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Mushroom:6
Required Material 4 = Mushroom:6

[Veggie Soup]

## Health amount added to max health. [Synced with Server]
# Setting type: Single
# Default value: 45
Food = 45

## Stamina amount added to max stamina [Synced with Server]
# Setting type: Single
# Default value: 65
Food Stamina = 65

## Eitr amount added to max eitr. [Synced with Server]
# Setting type: Single
# Default value: 0
Food Eitr = 0

## Food duration. [Synced with Server]
# Setting type: Single
# Default value: 1800
Food Burn Time = 1800

## Health regen. [Synced with Server]
# Setting type: Single
# Default value: 3
Food Regen = 3

## Enable/Disables recipe. (Needs Logout) [Synced with Server]
# Setting type: Boolean
# Default value: true
Recipe = true

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Carrot:2
Required Material 1 = Carrot:2

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Turnip:2
Required Material 2 = Turnip:2

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Onion:4
Required Material 3 = Onion:4

## Item name : amount (Needs Logout) [Synced with Server]
# Setting type: String
# Default value: Mushroom:8
Required Material 4 = Mushroom:8

