## Settings file was created by plugin NoDropsFromMonsterKill v1.0.4
## Plugin GUID: blacks7ar.NoDropsFromMonsterKill

[General]

## Enable/Disables the mod.
# Setting type: Boolean
# Default value: true
Enable Mod = true

