## Settings file was created by plugin GlassPieces v1.0.3
## Plugin GUID: blacks7ar.GlassPieces

[1- ServerSync]

## If On, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[2- General]

## If On, sliding glass door will automatically open and close. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Automatic Door = On

## If On, pickable silica ores will be spawned across different biomes. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enable Pickable = Off

