## Settings file was created by plugin SimpleTrader v0.0.5
## Plugin GUID: coemt.SimpleTrader

[1 - General]

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Toggle 1 = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: QueenBee
Item 1 = QueenBee

## Price [Synced with Server]
# Setting type: Int32
# Default value: 500
Item 1 Price = 500

## Amount [Synced with Server]
# Setting type: Int32
# Default value: 1
Item 1 Amount = 1

## enter a global key [Synced with Server]
# Setting type: String
# Default value: none
Global Key 1 = none

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Toggle 2 = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: SurtlingCore
Item 2 = SurtlingCore

## Price [Synced with Server]
# Setting type: Int32
# Default value: 125
Item 2 Price = 125

## Amount [Synced with Server]
# Setting type: Int32
# Default value: 1
Item 2 Amount = 1

## enter a global key [Synced with Server]
# Setting type: String
# Default value: none
Global Key  2 = none

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Toggle 3 = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: CopperOre
Item 3 = CopperOre

## Price [Synced with Server]
# Setting type: Int32
# Default value: 100
Item 3 Price = 100

## Amount [Synced with Server]
# Setting type: Int32
# Default value: 1
Item 3 Amount = 1

## enter a global key [Synced with Server]
# Setting type: String
# Default value: none
Global Key 3 = none

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Toggle 4 = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: TinOre
Item 4 = TinOre

## Price [Synced with Server]
# Setting type: Int32
# Default value: 75
Item 4 Price = 75

## Amount [Synced with Server]
# Setting type: Int32
# Default value: 1
Item 4 Amount = 1

## enter a global key [Synced with Server]
# Setting type: String
# Default value: none
Global Key 4 = none

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Toggle 5 = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: Honey
Item 5 = Honey

## Price [Synced with Server]
# Setting type: Int32
# Default value: 25
Item 5 Price = 25

## Amount [Synced with Server]
# Setting type: Int32
# Default value: 1
Item 5 Amount = 1

## enter a global key [Synced with Server]
# Setting type: String
# Default value: none
Global Key 5 = none

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Toggle 6 = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: FineWood
Item 6 = FineWood

## Price [Synced with Server]
# Setting type: Int32
# Default value: 20
Item 6 Price = 20

## Amount [Synced with Server]
# Setting type: Int32
# Default value: 1
Item 6 Amount = 1

## Enter a global key [Synced with Server]
# Setting type: String
# Default value: none
Global Key 6 = none

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Toggle 7 = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: RawMeat
Item 7 = RawMeat

## Price [Synced with Server]
# Setting type: Int32
# Default value: 5
Item 7 Price = 5

## Amount [Synced with Server]
# Setting type: Int32
# Default value: 1
Item 7 Amount = 1

## Enter a global key [Synced with Server]
# Setting type: String
# Default value: none
Global Key 7 = none

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Toggle 8 = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: RoundLog
Item 8 = LeatherScraps

## Price [Synced with Server]
# Setting type: Int32
# Default value: 10
Item 8 Price = 15

## Amount [Synced with Server]
# Setting type: Int32
# Default value: 1
Item 8 Amount = 1

## Enter a global key [Synced with Server]
# Setting type: String
# Default value: none
Global Key 8 = none

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Toggle 9 = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: Wood
Item 9 = Wood

## Price [Synced with Server]
# Setting type: Int32
# Default value: 5
Item 9 Price = 5

## Amount [Synced with Server]
# Setting type: Int32
# Default value: 1
Item 9 Amount = 1

## Enter a global key [Synced with Server]
# Setting type: String
# Default value: none
Global Key 9 = none

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Toggle 10 = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: Resin
Item 10 = Resin

## Price [Synced with Server]
# Setting type: Int32
# Default value: 5
Item 10 Price = 5

## Amount [Synced with Server]
# Setting type: Int32
# Default value: 1
Item 10 Amount = 1

## Enter a global key [Synced with Server]
# Setting type: String
# Default value: none
Global Key 10 = none

[2 - Sell]

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Item 1 Toggle = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: Honey
Item 1 Prefab = Honey

## Value [Synced with Server]
# Setting type: Int32
# Default value: 5
Item 1 Value = 5

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Item 2 Toggle = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: FineWood
Item 2 Prefab = FineWood

## Value [Synced with Server]
# Setting type: Int32
# Default value: 1
Item 2 Value = 1

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Item 3 Toggle = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: RoundLog
Item 3 Prefab = RoundLog

## Value [Synced with Server]
# Setting type: Int32
# Default value: 1
Item 3 Value = 1

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Item 4 Toggle = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: Flint
Item 4 Prefab = Flint

## Value [Synced with Server]
# Setting type: Int32
# Default value: 2
Item 4 Value = 2

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Item 5 Toggle = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: TrophyDeer
Item 5 Prefab = TrophyDeer

## Value [Synced with Server]
# Setting type: Int32
# Default value: 5
Item 5 Value = 5

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Item 6 Toggle = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: TrophyBoar
Item 6 Prefab = TrophyBoar

## Value [Synced with Server]
# Setting type: Int32
# Default value: 5
Item 6 Value = 3

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Item 7 Toggle = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: TrophyNeck
Item 7 Prefab = TrophyNeck

## Value [Synced with Server]
# Setting type: Int32
# Default value: 5
Item 7 Value = 3

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Item 8 Toggle = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: TrophyGreydwarf
Item 8 Prefab = TrophyGreydwarf

## Value [Synced with Server]
# Setting type: Int32
# Default value: 5
Item 8 Value = 3

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Item 9 Toggle = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: TrophyEikthyr
Item 9 Prefab = TrophyEikthyr

## Value [Synced with Server]
# Setting type: Int32
# Default value: 25
Item 9 Value = 25

## Toggles the entry on or off [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Item 10 Toggle = On

## Prefab [Synced with Server]
# Setting type: String
# Default value: TrophyTheElder
Item 10 Prefab = TrophyTheElder

## Value [Synced with Server]
# Setting type: Int32
# Default value: 50
Item 10 Value = 50

[2 - Server Sync]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

