## Settings file was created by plugin SpearFix v0.0.4
## Plugin GUID: coemt.SpearFix

[1 - General]

## For Vanilla use 1,  1.2 feels pretty good [Synced with Server]
# Setting type: Single
# Default value: 1
Spear Attack Speed = 1

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

