## Settings file was created by plugin HiddenDoors v1.1.0
## Plugin GUID: com.HiddenDoors

[Debug]

# Setting type: Boolean
# Default value: true
Send debug messages to hud = true

[General]

# Setting type: Boolean
# Default value: true
ServerConfigLock = true

