## Settings file was created by plugin HammerTime v0.3.8
## Plugin GUID: com.maxsch.valheim.HammerTime

[1 - General]

## Disables crafting recipes of custom hammers that are enabled in this mod. Only deactivates the recipes, existing items will not be removed. Can be changed at runtime.
# Setting type: Boolean
# Default value: true
Disable Hammer Recipes = true

[Armory _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Armory

Category Name Crafting = Armory Crafting

[Better Wards _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Better Wards

Category Name Misc = Better Wards Misc

[CrystalLights _CrystalHammer_Table]

Enable Hammer = true

Combine Categories = false

Combined Category Name = CrystalLights

Category Name Misc = Gem Lights

[GlassPieces BGP_GlassPieceTable]

Enable Hammer = true

Combine Categories = true

Combined Category Name = Glass Pieces

Category Name Building = GlassPieces Building

[ItemHopper _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = ItemHopper

Category Name Crafting = ItemHopper Crafting

[Jewelcrafting _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Jewelcrafting

Category Name Crafting = Jewelcrafting Crafting

[MissingPieces _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = MissingPieces

Category Name Building = MissingPieces Building

Category Name Furniture = MissingPieces Furniture

[Monstrum _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Monstrum

Category Name Furniture = Monstrum Furniture

[MonstrumAshlands _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = MonstrumAshlands

Category Name Furniture = MonstrumAshlands Furniture

[MonstrumDeepNorth _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = MonstrumDeepNorth

Category Name Furniture = MonstrumDeepNorth Furniture

[OdinArchitect _HammerPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = OdinArchitect

Category Name Furniture = OdinArchitect Furniture

[OdinArchitect _HammerPieceTable2]

Enable Hammer = true

Combine Categories = false

Combined Category Name = OdinArchitect

Category Name Misc = Crafting

Category Name Pieces = Alt Building

Category Name Doors = Engineering

Category Name Decors = Furniture

Category Name Big = Building

Category Name Dvergr = Alt Building

Category Name Furniture = OdinArchitect Furniture

[OdinsKingdom _GBCastleKit]

Enable Hammer = true

Combine Categories = false

Combined Category Name = OdinsKingdom

Category Name Building = Castle Bld

Category Name Furniture = Castle Misc

Category Name FurnitureChest = Furniture

Category Name Misc = Misc

Category Name Engineering = Engineering

Category Name FurnitureStorage = OdinsKingdom FurnitureStorage

[Pressure-Plate _HammerPieceTable]

Enable Hammer = true

Combine Categories = true

Combined Category Name = Engineering

Category Name Misc = Engineering

Category Name Engineering = Pressure-Plate Engineering

[RuneMagic _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = RuneMagic

Category Name Misc = RuneMagic Misc

[RuneMagic _RuneFocusPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = RuneMagic

Category Name Misc = RuneMagic Misc

Category Name Crafting = RuneMagic Crafting

Category Name Building = RuneMagic Building

[SimpleElevators _HammerPieceTable]

Enable Hammer = true

Combine Categories = true

Combined Category Name = Engineering

Category Name Misc = SimpleElevators Engineering

[SleepingBag _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = SleepingBag

Category Name Misc = SleepingBag Misc

[Soulcatcher _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Soulcatcher

Category Name Furniture = Soulcatcher Furniture

Category Name Crafting = Soulcatcher Crafting

[Vanilla _HammerPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = Vanilla

Category Name Misc = Misc

Category Name Crafting = Crafting

Category Name Building = Building

Category Name Furniture = Furniture

[Vanilla _HammerPieceTable2]

Enable Hammer = true

Combine Categories = false

Combined Category Name = Vanilla

[Vanilla _RuneFocusPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = Vanilla

Category Name Furniture = Furniture

[Warfare _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Warfare

Category Name Crafting = Warfare Crafting

[WarfareFireAndIce _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = WarfareFireAndIce

Category Name Crafting = WarfareFireAndIce Crafting

Category Name Building = WarfareFireAndIce Building

