## Settings file was created by plugin HammerTime v0.3.8
## Plugin GUID: com.maxsch.valheim.HammerTime

[1 - General]

## Disables crafting recipes of custom hammers that are enabled in this mod. Only deactivates the recipes, existing items will not be removed. Can be changed at runtime.
# Setting type: Boolean
# Default value: true
Disable Hammer Recipes = true

[Better Wards _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Better Wards

Category Name Misc = Better Wards Misc

[BoneAppetit _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = BoneAppetit

Category Name Crafting = BoneAppetit Crafting

Category Name Misc = BoneAppetit Misc

Category Name Furniture = BoneAppetit Furniture

[Clutter _ClutterPieceTable]

Enable Hammer = true

Combine Categories = false

Combined Category Name = Clutter

Category Name Decor = Clutter Decor

Category Name Amenities = Clutter Amenities

Category Name Kitchen = Clutter Kitchen

Category Name Sculptures = Clutter Sculptures

[CrystalLights _CrystalHammer_Table]

Enable Hammer = true

Combine Categories = true

Combined Category Name = CrystalLights

Category Name Misc = CrystalLights Misc

[HiddenDoors _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = HiddenDoors

Category Name Building = HiddenDoors Building

[Item Drawers _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Item Drawers

Category Name Furniture = Item Drawers Furniture

[ItemHopper _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = ItemHopper

Category Name Crafting = ItemHopper Crafting

[Jewelcrafting _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Jewelcrafting

Category Name Crafting = Jewelcrafting Crafting

[MagicHeim _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = MagicHeim

Category Name Misc = MagicHeim Misc

[MissingPieces _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = MissingPieces

Category Name Building = MissingPieces Building

Category Name Furniture = MissingPieces Furniture

[Monstrum _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Monstrum

Category Name Furniture = Monstrum Furniture

[MonstrumAshlands _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = MonstrumAshlands

Category Name Furniture = MonstrumAshlands Furniture

[MonstrumDeepNorth _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = MonstrumDeepNorth

Category Name Furniture = MonstrumDeepNorth Furniture

[OdinArchitect _HammerPieceTable2]

Enable Hammer = true

Combine Categories = false

Combined Category Name = OdinArchitect

Category Name Misc = OdinArchitect Misc

Category Name Pieces = OdinArchitect Pieces

Category Name Doors = OdinArchitect Doors

Category Name Decors = OdinArchitect Decors

Category Name Big = OdinArchitect Big

Category Name Dvergr = OdinArchitect Dvergr

[OdinBanners _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = OdinBanners

Category Name Misc = OdinBanners Misc

[OdinCampsite _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = OdinCampsite

Category Name Misc = OdinCampsite Misc

[Pressure-Plate _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Pressure-Plate

Category Name Misc = Pressure-Plate Misc

[RuneMagic _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = RuneMagic

Category Name Misc = RuneMagic Misc

[RuneMagic _RuneFocusPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = RuneMagic

Category Name Misc = RuneMagic Misc

Category Name Crafting = RuneMagic Crafting

Category Name Building = RuneMagic Building

[Seed Totem _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Seed Totem

Category Name Misc = Seed Totem Misc

[SimpleElevators _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = SimpleElevators

Category Name Misc = SimpleElevators Misc

[ValheimRAFT _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = ValheimRAFT

Category Name ValheimRAFT = ValheimRAFT ValheimRAFT

[Vanilla _HammerPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = Vanilla

Category Name Misc = Misc

Category Name Crafting = Crafting

Category Name Building = Building

Category Name Furniture = Furniture

[Vanilla _HammerPieceTable2]

Enable Hammer = true

Combine Categories = false

Combined Category Name = Vanilla

[Vanilla _RuneFocusPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = Vanilla

Category Name Furniture = Furniture

[WardIsLove _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = WardIsLove

Category Name Misc = WardIsLove Misc

[Warfare _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Warfare

Category Name Crafting = Warfare Crafting

[WarfareFireAndIce _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = WarfareFireAndIce

Category Name Crafting = WarfareFireAndIce Crafting

