## Settings file was created by plugin Digitalroot ChainManager v1.0.8
## Plugin GUID: digitalroot.mods.chainmanager

[General]

## Nexus mod ID for updates
# Setting type: Int32
# Default value: 2605
NexusID = 2605

